{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% if rows|length > 4 %}
<div id="estadisticasCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for row in rows %}
      {% if loop.index == 1 %}
        <div class="item active">
      {% else %}
        {% if loop.index is divisible by(5) %}
          <div class="item">
        {% endif %}
      {% endif %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
      </div>
      {% if loop.index is divisible by(4) %}
        </div>
      {% endif %}
    {% endfor %}
  </div>


  {% if rows|length > 4 %}
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#estadisticasCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#estadisticasCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  {% endif %}
</div>
{% else %}
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
{% endif %}
